<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee management System</title>
</head>
<body>
	<div align="center">
		<h1>Employee Management System</h1>
		<hr>
		<h2>Save Employee</h2>
		<form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
			<input type="text" th:field ="*{firstName}" placeholder="Employee FirstName">
			<input type="text" th:field ="*{lastName}" placeholder="Employee LatName">
			<input type="text" th:field ="*{email}" placeholder="Employee email">
			
			<button type="submit">Save Employee</button>
		</form>
	</div>
</body>
</html>