<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee management System</title>
</head>
<body>
	<div align="center">
		<h1>Employee Management System</h1>
		<hr>
		<h2>Update Employee</h2>
		<form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
		
			<input type="hidden" th:field="*{id}">
			<input type="text" th:field ="*{firstName}">
			<input type="text" th:field ="*{lastName}" >
			<input type="text" th:field ="*{email}">
			
			<button type="submit">Save Employee</button>
		</form>
	</div>
</body>
</html>